@import url("myboth.css");

body { background:black; color: #ddd; }
pre { color: #ddd; }
h1, h2, h3, h4, h5, h6 { color: #eee; }
ul.navbar a:focus, ul.navbar a:hover { color: #00243d; }
ul.navbar a { color: #00497a; }
div.imgbtntxt a:focus, div.imgbtntxt a:hover { color: #09f; }
a:focus, a:hover { color: #7cf; }
a { color: #09f; }
.loud { color: #fff; }
.box {
    color: #222;
    background: #e5eCf9;
}
