<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>{{- partial "head.html" . -}}</head>
    <body>
        <div id="header" class="top-section">
            {{- partial "body_header.html" . -}}
        </div>
        <div id="content" class="top-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col col-12 col-sm-8 col-lg-9">
                        <div class="row">
                            {{- block "main" . }}{{- end }}
                        </div>
                    </div>
                    <div class="col col-8 offset-2 col-sm-4 offset-sm-0 col-lg-3">
                        {{- partial "navbar" . -}}
                    </div>
                </div>
            </div>
        </div>
        <div id="footer" class="top-section">
            {{- partial "body_footer.html" . -}}
        </div>
        {{- partial "foot.html" . -}}
    </body>
</html>
